<!DOCTYPE html>
<html>
<head><title>Über uns</title></head>
<body>
  <h1>Über unseren Service</h1>
  <p>Wir bieten IT-Beratung, Support und Netzwerklösungen.</p>
  <a href="/">Zurück</a>
</body>
</html>
