<!DOCTYPE html>
<html>
<head><title>Startseite</title></head>
<body>
  <h1>Willkommen auf meiner IT-Service-Seite</h1>
  <a href="/about">Über uns</a> | <a href="/contact">Kontakt</a>
</body>
</html>
